html{
  overflow: hidden;
}

body{
  margin: 0;
  font-family: arial;
  background-color: black;
}

main{
}

h1{
  color: red;
  font-size: 100pt;
  margin-top: 200px;
}

.clickables{
  position: absolute;
  cursor: pointer;
  border: solid
}

.keys{
  position: absolute;
}

.back{
  position: absolute;
  font-size: 30pt;
  top: 950px;
  left: 50px;
  padding: 5px;
  background-color: black;
  color: white;
  font-family: Castellar;
}

.keyfound{
  position: absolute;
  font-size: 20pt;
  top: 450px;
  left: 720px;
  width: 480px;
  height: 200px;

}

.finish{
  position: absolute;
  background-color: black;
  width: 1920px;
  height: 1080px;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: center;
  opacity: 0;
}
