html{
  overflow: hidden;
}

body{
  margin: 0;
  font-family: arial;
  background-color: black;
}

main{
}

h1{
  color: red;
  font-size: 70pt;
  margin-top: 200px;
  font-family: castellar;
  animation: beat 3s infinite alternate;
  transform-origin: center;
}

@keyframes beat{
	to { transform: scale(1.4); }ss
}

.toplogo{
  position: absolute;
  top: 30px;
  left: 85px;
  width: 250px;
}

.lvlinfo{
  position: absolute;
  background-color: black;
  width: 300px;
  height: 40px;
  font-size: 20pt;
  color: red;
  top: 1040px;
  left: 810px;
  text-align: center;
}

.clickables{
  position: absolute;
  cursor: pointer;
  border: solid
}

.creatures{
  position: absolute;
}

.keys{
  position: absolute;
  cursor: pointer;
}

.back{
  position: absolute;
  font-size: 30pt;
  top: 950px;
  left: 50px;
  padding: 5px;
  color: red;
  font-family: Castellar;
  border: red;
  font-weight: bold;
  background-image: url("frame.png");
}

.escape{
  position: absolute;
  font-size: 30pt;
  top: 950px;
  left: 900px;
  padding: 5px;
  background-color: black;
  color: white;
  font-family: Castellar;
  cursor: pointer;
  opacity: 0;
}

.keyfound{
  position: absolute;
  font-size: 20pt;
  top: 450px;
  left: 720px;
  width: 480px;
  height: 200px;

}

.finish{
  position: absolute;
  background-color: black;
  width: 1920px;
  height: 1080px;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: center;
  opacity: 0;
}

.black{
  position: absolute;
  width: 1920px;
  height: 1080px;
  z-index: 1;
  background-color: black;
  opacity: 0;
}

.menuitem{
  position: absolute;
  top: 600px;
  border: solid;
  border-color: red;
  color: red;
  width: 500px;
  height: 100px;
  font-size: 50pt;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  background-image: url("frame.png")
}

.levelitem{
  position: absolute;
  border: solid;
  border-color: red;
  color: red;
  width: 150px;
  height: 150px;
  font-size: 90pt;
  text-align: center;
  top: 400px;
  cursor: pointer;
  font-family: castellar;
}

#warning{
  text-align: center;
  color: red;
  opacity: 0
}

#warning p{
  font-size: 30pt;
}

#lvl1{
  left: 100px;
}

#lvl2{
  left: 320px;
}

#lvl3{
  left: 540px;
}

#lvl4{
  left: 760px;
}

#lvl5{
  left: 980px;
}

#lvl6{
  left: 1200px;
}

#lvl7{
  left: 1420px;
}

#lvl8{
  left: 1640px;
}

#startgame{
  left: 430px;
  font-family: castellar;
}

#levels{
  left: 990px;
  font-family: castellar;
}

#blank{
  background-color: white;
  width: 1920px;
  height: 1080px;
}

#r3_key{
  opacity: 0;
  left: 850px;
  top: 500px;
  width: 100px;
}

#r4_key{
  display: none;
  left: 1000px;
  top: 640px;
  width: 100px;
}

#r5a_key{
  opacity: 0;
  left: 1920px;
  top: 450px;
  width: 50px;
}

#r6_key{
  opacity: 1;
  left: 600px;
  top: 650px;
  height: 20px;
  transform: rotate(-20deg);
}

#r6_keyhider{
  opacity: 0.9;
  left: 600px;
  top: 650px;
  height: 20px;
  width: 60px;
  background-color: rgb(243,193,33);
  transform: rotate(-20deg);
}

#r8_key{
  left: 880px;
  top: 920px;
  height: 20px;
  transform: rotate(40deg);
  display: none;
}


#r5a_door{
  display: none;
  opacity: 0;
  left: 360px;
  top: 200px;
}

/*Creatures*/
#r1_silhouette{
  left: 800px;
  top: 250px;
  width: 200px;
  opacity: 0;
}

#mermaid {
  left: 650px;
  top: 500px;
  width: 600px;
  opacity: 0;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

#maskman{
  /*
  left: 1020px;
  top: 0px;
  */
  left: 1670px;
  top: 200px;

  height: 700px;
  opacity: 0;
}

#maskman_js{
  /*
  left: 1020px;
  top: 0px;
  */
  left: 600px;
  top: 1080px;

  height: 700px;
  opacity: 0;
}

#r3_v2_piano{
  width: 900px;
  height: 320px;
  left: 200px;
  top: 300px;
}

#r4_note{
  left: 1300px;
  top: 300px;
  width: 100px;
  transform: rotate(10deg);
}

#r4_hand{
  opacity: 0;
  top: 500px;
  left: 600px;
  width: 100px;

}

#r4_message{
  opacity: 0;
  top: 560px;
  left: 600px;
  color: red;
  font-family: Bradley Hand ITC;
}

#r4_drain{
  top: 640px;
  left: 1050px;
  width: 20px;
  height: 20px;
}

#r4_blood{
  left: 950px;
  top: 550px;
  width: 200px;
  opacity: 0;
}

#r5_skull{
  left: 1050px;
  top: 230px;
  width: 70px;
  opacity: 0;
  z-index: 1;
}

#r5_button{
  left: 850px;
  top: 250px;
  width: 50px;
}

#r5a_alien{
  left: 0;
  top: 300px;
  width: 80px;
  opacity: 0;
}

#r6_girl{
  left: 420px;
  top: 200px;
  width: 150px;
  opacity: 1;
  transform: rotate(-20deg);
  cursor: pointer;
}

#r8_silhouette{
  left: 750px;
  top: 100px;
  width: 200px;
  opacity: 0;
}

#r8_maskman{
  left: 830px;
  top: -200px;
  height: 200px;
  opacity: 1;
}

#nosferatu{
  position: absolute;
  left: 0;
  top: 0;
  /*display: none !important;*/
}


/*Room Navigations*/
#to-r1_v1{
  left: 30px;
  top: 580px;
  width: 550px;
  height: 350px;
}

#to-r1_v2{
  left: 270px;
  top: 200px;
  width: 130px;
  height: 300px;
}

#to-r1_v3{
  left: 1500px;
  top: 600px;
  width: 310px;
  height: 130px;
}

#to-r1_v4{
  left: 1300px;
  top: 420px;
  width: 100px;
  height: 120px;
}

#to-r1{
  left: 900px;
  top: 150px;
  width: 200px;
  height: 300px;
}

#r1_key{
  left: 950px;
  top: 640px;
  height: 20px;
}

#to-r2{
  width: 200px;
  height: 250px;
  left: 840px;
  top: 270px;
}

#r2_key{
  left: 950px;
  top: 500px;
  height: 20px;
}

#to-r2_v1{
  left: 980px;
  top: 280px;
  width: 165px;
  height: 200px;
}

#to-r2_v2{
  left: 840px;
  top: 80px;
  width: 130px;
  height: 200px;
}

#to-r3{
  width: 120px;
  height: 190px;
  left: 850px;
  top: 85px;
}

#to-r3_v1{
  width: 600px;
  height: 220px;
  left: 490px;
  top: 170px;
}

#to-r3_v2{
  width: 300px;
  height: 320px;
  left: 1600px;
  top: 250px;
}

#to-r3_v3{
  width: 140px;
  height: 220px;
  left: 1250px;
  top: 70px;
}

#to-r3_v4{
  width: 140px;
  height: 180px;
  left: 0px;
  top: 280px;
}

#to-r3_v4_v1{
  width: 350px;
  height: 180px;
  left: 750px;
  top: 370px;
}

#to-r3_v4_v2{
  width: 350px;
  height: 150px;
  left: 650px;
  top: 200px;
}

#to-r4{
  width: 360px;
  height: 300px;
  left: 1550px;
  top: 50px;
}

#to-r4_v1{
  width: 550px;
  height: 550px;
  left: 0px;
  top: 400px;
}

#to-r4_v1_v1{
  width: 350px;
  height: 350px;
  left: 20px;
  top: 550px;
}

#to-r4_v1_v2{
  width: 700px;
  height: 750px;
  left: 1200px;
  top: 200px;
}

#to-r4_v2{
  width: 250px;
  height: 1000px;
  left: 1650px;
  top: 50px;
}

#to-r4_v3{
  width: 440px;
  height: 220px;
  left: 1200px;
  top: 350px;
}

#to-r5{
  width: 260px;
  height: 320px;
  left: 700px;
  top: 200px;
}


#to-r5_v1{
  width: 150px;
  height: 150px;
  left: 750px;
  top: 150px;
}

#to-r5_v2{
  width: 250px;
  height: 220px;
  left: 1000px;
  top: 50px;
}

#to-r5_v3{
  width: 140px;
  height: 300px;
  left: 1270px;
  top: 10px;
}

#to-r5_v4{
  width: 450px;
  height: 620px;
  left: 1420px;
  top: 50px;
}

#to-r6{
  width: 200px;
  height: 320px;
  left: 320px;
  top: 0px;
}

#to-r6_v1{
  width: 650px;
  height: 900px;
  left: 1250px;
  top: 150px;
}

#to-r6_v2{
  width: 550px;
  height: 150px;
  left: 600px;
  top: 600px;
}

#to-r6_v3{
  width: 400px;
  height: 170px;
  left: 800px;
  top: 400px;
}

#to-r6_v4{
  width: 170px;
  height: 160px;
  left: 550px;
  top: 430px;
}

#to-r6_v5{
  width: 260px;
  height: 120px;
  left: 50px;
  top: 580px;
}

#r7_key{
  left: 950px;
  top: 640px;
  height: 20px;
}

#r7_blood{
  left: 900px;
  top: 600px;
  width: 250px;
  opacity: 0;
  -ms-transform: skewY(20deg);
  -webkit-transform: skewY(20deg);
  transform: skewY(20deg);
}

#to-r7{
  width: 200px;
  height: 320px;
  left: 290px;
  top: 290px;
}

#to-r8{
  width: 120px;
  height: 290px;
  left: 1150px;
  top: 290px;
}

#to-r8_v1{
  width: 650px;
  height: 500px;
  left: 1000px;
  top: 100px;
}

#to-r8_v2{
  width: 300px;
  height: 450px;
  left: 350px;
  top: 60px;
}

#to-r8_v3{
  width: 140px;
  height: 300px;
  left: 800px;
  top: 0px;
}

#to-finish{
  width: 140px;
  height: 300px;
  left: 800px;
  top: 0px;
}

#r5-time{
  display: block;
  background-color: white;
  width: 1920px;
  height: 1080px;
}

#r1_key{
  left: 950px;
  top: 640px;
  height: 20px;
}

#to-r7_v1{
  width: 600px;
  height: 500px;
  left: 1300px;
  top: 80px;
}

#to-r7_v2{
  width: 250px;
  height: 220px;
  left: 880px;
  top: 350px;
}

#to-r7_v3{
  width: 450px;
  height: 300px;
  left: 400px;
  top: 300px;
}

#to-r7_v4{
  width: 200px;
  height: 100px;
  left: 50px;
  top: 400px;
}

#to-r7_v5{
  width: 130px;
  height: 310px;
  left: 0px;
  top: 630px;
}

#to-r7_v6{
  width: 450px;
  height: 150px;
  left: 700px;
  top: 600px;
}
