html{
  overflow: hidden;
}

body{
  margin: 0;
  font-family: arial;
  background-color: black;
}

main{
}

h1{
  color: red;
  font-size: 100pt;
  margin-top: 200px;
}

.clickables{
  position: absolute;
  cursor: pointer;
  border: solid
}

.keys{
  position: absolute;
}

.back{
  position: absolute;
  font-size: 30pt;
  top: 950px;
  left: 50px;
  padding: 5px;
  background-color: black;
  color: white;
  font-family: Castellar;
}

.keyfound{
  position: absolute;
  font-size: 20pt;
  top: 450px;
  left: 720px;
  width: 480px;
  height: 200px;

}

.finish{
  position: absolute;
  background-color: black;
  width: 1920px;
  height: 1080px;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: center;
  opacity: 0;
}

#to-r3_v1{
  width: 600px;
  height: 220px;
  left: 490px;
  top: 170px;
}

#to-r3_v2{
  width: 300px;
  height: 320px;
  left: 1600px;
  top: 250px;
}

#to-r3_v3{
  width: 140px;
  height: 220px;
  left: 1250px;
  top: 70px;
}

#to-r3_v4{
  width: 140px;
  height: 180px;
  left: 0px;
  top: 280px;
}

#to-r3_v4_v1{
  width: 350px;
  height: 180px;
  left: 750px;
  top: 370px;
}

#to-r3_v4_v2{
  width: 350px;
  height: 150px;
  left: 650px;
  top: 200px;
}
