html{
  overflow: hidden;
}

body{
  margin: 0;
  font-family: arial;
  background-color: black;
}

h1{
  color: red;
  font-size: 100pt;
  margin-top: 200px;
}

.clickables{
  position: absolute;
  cursor: pointer;
  border: solid;
  border-color: yellow;
}

.keys{
  position: absolute;
}

.back{
  position: absolute;
  font-size: 30pt;
  top: 950px;
  left: 50px;
  padding: 5px;
  background-color: black;
  color: white;
  font-family: Castellar;
}

.keyfound{
  position: absolute;
  font-size: 20pt;
  top: 450px;
  left: 720px;
  width: 480px;
  height: 200px;

}

.finish{
  position: absolute;
  background-color: black;
  width: 1920px;
  height: 1080px;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: center;
  opacity: 0;
}

/*ROOM 0*/

#r0_face{
  position: absolute;
  height: 10px;
  left: 950px;
  top: 750px;
  opacity: 0;
}

#r0_key{
  left: 950px;
  top: 640px;
  height: 20px;
}

#to-r0_v1{
  left: 270px;
  top: 200px;
  width: 130px;
  height: 300px;
}

#to-r0_v2{
  left: 1500px;
  top: 600px;
  width: 310px;
  height: 130px;
}

#to-r0_v3{
  left: 1300px;
  top: 420px;
  width: 100px;
  height: 120px;
}

/*ROOM 1*/

#to-r1_v1{
  left: 30px;
  top: 580px;
  width: 550px;
  height: 350px;
}

#to-r1_v2{
  left: 270px;
  top: 200px;
  width: 130px;
  height: 300px;
}
  
#to-r1_v3{
  left: 1500px;
  top: 600px;
  width: 310px;
  height: 130px;
}

#to-r1_v4{
  left: 1300px;
  top: 420px;
  width: 100px;
  height: 120px;
}

#to-r1{
  left: 900px;
  top: 150px;
  width: 200px;
  height: 300px;
}

#r1_key{
  left: 950px;
  top: 640px;
  height: 20px;
}
